@model CursoDominandoAspNetCore.Models.Movie;
@{
    ViewBag.Title = "Adicionar um novo filme";
}
<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-4">

        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Adicionar">

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <input type="submit" value="Adicionar" class="btn btn-primary" />

        </form>
    </div>
</div>

<h2>Form Tradicional</h2>

<form asp-action="Salvar">
    <label asp-for="ID"></label>
    <input asp-for="ID" />
    <input type="submit" value="Submit">
</form>

<br />
<br />

<h2>Form Teste - HTML PURO</h2>

<form action="/Movie/Salvar" method="post">
    <label for="ID">ID</label><br>
    <input type="number" name="ID" />
    <input type="submit" value="Submit" class="btn btn-default">
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}